:global {
  html,body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    position: relative;
  }

  a {
    outline: none;
    text-decoration: none;
  }

  * {
    box-sizing: border-box;
  }
} 

@footer-height: 40px;

#root {
  width: 100%;
  position: absolute;
  background-color: #fafafa;
}

.overlays {
  position: absolute;
}

.main {
  min-height: calc(100vh - @footer-height);
}

.footer {
  color: #555;
  font-size: 13px;
  text-align: center;
  line-height: @footer-height;

  user-select: none;
}
