@import "~react-pitaya/lib/styles/gap.less";
@import "~react-pitaya/lib/styles/color.less";
@import "~react-pitaya/lib/styles/altitude.less";

.canvas {
  width: 100%;
  height: 400px;
  overflow: hidden;
  border-radius: 8px;
  border: 4px solid @color-primary;
  .altitude-box-shadow(3);

  outline: none;
  box-sizing: border-box;
}
